* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.top-section {
    height: 100px;
    margin: -8px;
    background-color: rgb(150, 233, 245);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
}

.heading {
    padding-top: 10px;
    text-align: center;
    color: #303030;
}

.middle-area {
    text-align: center;
    padding-top: 10px;
    height: 500px;
}

.footer {
    height: 100px;
    margin: -8px;
    background-color: rgb(200, 233, 245);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body {
    background-color: #ffffff;
}

.details {
    padding-top: 40px;
    margin: 40px 540px;
}

#p {
    color: aqua;
    background-color: black;
    width: 150px;
    height: 30px;
}
/* 
div.middle-area > h2 {
    background-color: aqua;
} */